<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.eal.learerbookingsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
        <activity
            android:name="dk.eal.learerbookingsystem.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.eal.learerbookingsystem.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>

        <service android:name="dk.eal.learerbookingsystem.service.ServerService" />

        <activity
            android:name="dk.eal.learerbookingsystem.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="dk.eal.learerbookingsystem.activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dk.eal.learerbookingsystem.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.BookingActivity"
            android:label="@string/title_activity_booking" >
        </activity>
        <activity
            android:name="dk.eal.learerbookingsystem.activity.NewBookingActivity"
            android:label="@string/title_activity_booking_new"
            android:parentActivityName="dk.eal.learerbookingsystem.activity.BookingActivity">
        </activity>
    </application>

</manifest>
